<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">3060ti</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">От 900<small class="text-muted fw-light">$</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Баланс между ценой и производительностью</li>
            <li>8gb memory</li>
            <li>Вендоры:ASUS,MSI,PALI,EVGA,COLORFOOL,ASUSROG</li>
            <li>Вы можете продать здесь свою видеокарту</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Показать 3060ti</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">3070ti</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">От 1400<small class="text-muted fw-light">$</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Стоит больше, но производительность на уровне</li>
            <li>8db memory</li>
            <li>Вендоры:ASUS,MSI,PALI,EVGA,COLORFOOL,ASUSROG</li>
            <li>Вы можете продать здесь свойю видеокарту</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Показать 3070ti</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">3080ti</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">От 2200<small class="text-muted fw-light">$</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Друг, оно того стоит</li>
            <li>20gb memory</li>
            <li>Вендоры:ASUS,MSI,PALI,EVGA,COLORFOOL,ASUSROG</li>
            <li>Вы можете продать здесь свойю видеокарту</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Показать 3080ti</button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">Факты о нас</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>

      </thead>
      <tbody>
      <tr>
        <th scope="row" class="text-start">Этот сайт создан для того чтобы людям которых хотят купить или продать видеокарту было проще</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">На сайте минимальная комисия на продажу, всего 10%</th>
        <td></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <th scope="row" class="text-start">Более 15000 положительных отзывов</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">На сайте встроена безопасная сделка</th>
        <td></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Здесь купить выгоднее, чем у бырыг с Авито</th>
        <td></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Остались какие либо вопросы? Отправьте голубиную почту на мой адрес (Москва,набережная дом 3)</th>
        <td></td>
        <td></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
